.receita {
    font-family: Roboto,sans-serif;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width:calc(25% - 5rem);
    min-width: 235px;
    height: 456px;
}
@media screen and (max-width:480px){
    .receita{
        margin:4rem auto;
        width: 25%;
    }
}